
body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 1;
}

#header {
	background: #2F78B7;
	text-align: left;
	line-height: normal;
}

#header_row {
	padding-top: 0.3rem;
}

#header_cols {
	display: flex;
    align-items: center; 
}

/* div a {
	text-decoration: none;
} */

h3 {
	font-size: 18.72px;
	font-weight: 700;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

/* #glycan_residue {
	font-size: 17px;
	display: inline-block;
} */

#button_style {
	font-size: 13.33px;
	line-height: 1;
	border-radius: 3px;
	border-color: rgba(73, 72, 72, 0.782);
	border-width: 1px;
	border-style: solid;
	padding: 4px 7px 4px 7px
}

#progressDiv {
	position: fixed;
	z-index: 95;
	height: 70px;
	width: 70px;
	left: 720px;
	top: 120px;
	background-color: #FFFFFF;
	opacity: 0.8;
}

.container-fluid {
	margin: 0px;
	padding: 0px;
}


#glycan_caveat {
	font-size: 24px;
	font-weight: 700;
	padding-top:20px;
	padding-bottom: 5px;
}

a, a:link, a:hover {
  color: #0066cc;
  text-decoration: underline;
  font-size: inherit;
  font-weight: inherit;
}

/* a:hover {
	text-decoration: none;
} */

div span {
	color: white;
	font-size: 36px;
	font-weight: bold;
	margin-left: 10px;
}
	
.header_1 {
	height: 36px;
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 36px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}
.header_1:link    {color:white;}
.header_1:visited {color:white;}
.header_1:hover   {color:whitesmoke;}
.header_1:active  {color:white;}

#header_2 {
	font-style: italic;
}


#helpDiv {
	background-color: rgb(255,255,255);
	color: #4376B2;
	font-weight: bolder;
	font-size: 20px;
	height: 50px;
}


#div2 {
	position: fixed;
	z-index: 88;
	left: 600px;
	top: 50px;
	height: 25px;
	border-style: none;
	text-align: center;
	background-color: rgb(255,255,255);
}

#infoDiv {
	text-align: left;
}

.no_und {
	text-decoration: none;
}

.head1 {
	font-size: 18px;
	font-weight: bold;
	/* margin-top:0px;
	margin-bottom:30px; */
}

.head2 {
	font-size: 18px;
	font-weight: bold;
	margin-top:5px;
	margin-bottom:5px;
}

#enzymeTable {
	font-weight: normal;
	font-size:16.33px;
}

.toggle-vis {
	font-weight: normal;
}

#enzymeTable_info {
	font-weight: normal;
	font-size: 16.33px;
}

#enzymeTable_filter {
	font-weight: normal;
	font-size: 16.33px;
}

.row {
	padding-left: 0px;
	padding-right: 0px;
}
	
#tabs {
	/* left: 5px; */
	width: 80%;
	height: 30px; 
	border-bottom: none;
	padding-right: 2px;
	/* margin-top: 28px; */
}

#tabs li {
	width:30%; 
	text-align: center;
	float:left; 
	list-style:none; 
	border-top:1px solid #ccc; 
	border-left:1px solid #ccc; 
	border-right:1px solid #ccc; 
	margin-right:5px; 
	border-top-left-radius:3px;  
	border-top-right-radius:3px;
	outline:none;
}

#tabs li a {
	font-weight: bold; 
	color: #000;
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 8px; 
	display:block; 
	background: #FFF;
	border-top-left-radius:3px; 
	border-top-right-radius:3px; 
	text-decoration:none;
	outline:none;
	border-bottom: 5px solid #fff;
}

#tabs li a.inactive{
	padding-top:5px;
	padding-bottom:8px;
	padding-left: 8px;
	padding-right: 8px;
	color:#555;
	background: #ddd;
	outline:none;
	border-bottom: 1px solid #ccc;
}

#tabs li a:hover, #tabs li a.inactive:hover {
	color: #2F78B7;
	outline:none;
}


/* #tabbox {
	border-bottom: 3px double #ccc;
} */

.container-fluid {
	display: flex;
	flex-direction: column;
}

.tableContents {
	display: flex;
	flex-direction: column;
}

.tableHolder {
	padding-top: 10px;
	padding-right: 20px;
}

	
.ttip {
  position: relative;
  display: inline-block;
}

.ttip .ttiptext {
	font-size: 14px;
	font-weight: normal;
	fill: none;
	color: #000;
	visibility: hidden;
	width: 150px;
	background-color: #E9EFF4;
	text-align: center;
	padding: 5px  0 ;
	border-radius: 6px;
	position: absolute;
	top: -5px;
	left: 105%;
	z-index: 1;
}

.ttip:hover .ttiptext {
  visibility: visible;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
	overflow-x: hidden;
}


.boxHighlight {
	fill: rgb(233,239,244);
	stroke: rgb(47,120,183);
	stroke-width: 3;
}

.svgText {
	font-size:18px;
	stroke: none;
}

#parent_svg {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	margin:0px;
	overflow: hidden;
}

#child_glycans {
	margin:0px;
	overflow: hidden;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

/* css to add scrollbars for SVG Glycans for smaller screens */
/* @media (max-width: 1300px) { 
	#parent_svg {
		max-width: 500px;
	  	overflow-y: auto;
	}

	#parent_svg svg{
		width: 400px;
	}

	#child_glycans{
		max-width: 500px;
	  	overflow-y: auto;
	}

	#child_glycans svg{
		width: 400px;
	}
} */


.annotationShown {
	font-size: 8px;
	stroke: none;
	text-anchor: middle;
	dominant-baseline: middle;
	fill: rgb(0, 0, 63);
	stroke: none;
	visibility: visible;
	pointer-events: none;
}

.annotationHidden {
	visibility: hidden;
}


.zoomer {
	transform: scale(1);
	transition: all 300ms;
}

.zoomer:hover {
  transform: scale(1.2);
}

svg.downloader {
	vertical-align: text-top;
	height: 20px;
	width: 20px;
	color: #0066cc;
}

select.downloader {
	cursor: pointer;
	border-style: none;
	/* color: rgb(67,118,278); */
	color: #0066cc;
	background-color: white;
	font: 18px Arial, sans-serif;
}

#download_icon {
	text-align: left;
	float: right;
	text-wrap: nowrap;
	color: #0066cc;
}

select.downloader:focus {
	outline: none;
	box-shadow: none;
}

#right_column{
	overflow-x:auto;
}
